/*
@import url('https://webcamwidget.fullmarketing.at/joom_cam_cdn/weathercam.css');
@import url('https://webcamwidget.fullmarketing.at/joom_cam_cdn/videostyle.css');
@import url('https://webcamwidget.fullmarketing.at/joom_cam_cdn/weathercamcal.css');
@import url('https://webcamwidget.fullmarketing.at/joom_cam_cdn/range.css');
*/
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "Range.css";

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: arial;
	width: 100%;
    padding: 30px;
}

tn-webcam-widget {
	display: flow-root;
}
.main-title {
	text-align: center;
	margin: 40px 0;
}

.tn-webcam-main {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
}
.tn-webcam-slider > div {
	width: 100%;
}
.tn-webcam-slider {
	position: relative;
	height: 100%;
	background: #464646;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	max-height: 1080px;
}
.tn-webcam-slider-top {
	position: absolute;
	top: 0;
	z-index: 1;
}
.tn-webcam-slider-top::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	display: inline-block;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.48) 52%, rgba(255,255,255,0.01) 99%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.48) 52%,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.48) 52%,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
	top: 0;
	opacity: 0.46;
	height: 100%;
	z-index: 1;
}
.tn-webcam-slider-top-lt img {
	width: 100%;
	height: auto;
}
.tn-webcam-logo, .tn-webcam-logo img {
	max-width: 348px;
	max-height: 50px;
	object-fit: contain;
	object-position: left top;
}
.tn-webcam-slider-top {
	padding: 40px 43px;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}
.tn-webcam-slider-top > div {
	position: relative;
	z-index: 1;
}
.tn-webcam-slider-top-rt {
	display: flex;
	align-items: center;
	margin-bottom: auto;
}
.tn-webcam-live {
	display: flex;
	align-items: center;
	margin-right: 80px;
}
.tn-webcam-live-dot {
	height: 15px;
	width: 15px;
	background: #F60707;
	display: block;
	border-radius: 15px;
	margin-right: 12px;
}
.tn-webcam-live-txt {
	font-size: 24px;
	line-height: 28px;
    color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	margin: 0;
}
/* .tn-webcam-zoom img {
	max-width: 55px;
	width: 100%;
} */
.slider-content {
	display: flex;
	color: #fff;
	flex-wrap: wrap;
	position: relative;
}
.slider-content > div {
	width: 100%;
	padding: 20px 0;
	position: relative;
	z-index: 1;
}
.slider-content-top {
	display: flex;
	flex-wrap: wrap;
}

.slider-content-top > div {
	padding: 0 65px;
	border-left: 1px solid #fff;
}
.slider-content-top > div span {
	width: 100%;
	display: block;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.slide-content-title {
	font-weight: 700;
}
.slider-content-temp {
	display: flex;
}
.slider-content-temp-lt {
	width: 100%;
	max-width: 55px;
    margin-right: 10px;
}
.slider-content-temp-lt img {
	width: 55px;
}
.slider-social-nav a {
	background: #fff;
	display: inline-block;
	border-radius: 50px;
	width: 48px;
	height: 48px;
	border: 2px solid #000;
	margin-left: 6px;
	padding: 8px;
	text-align: center;
	transition: 0.3s all ease;
}
.slider-social-nav a:hover {
	background: rgba(255,255,255,0.7);
	border-color: #fff;
}
.slider-social-nav a img {
	width: 100%;
}
.slider-content-top > div.slider-content-date {
	border-left: none;
	padding-left: 0;
	max-width: 11%;
	width: 100%;
}
.slider-content-top > div.slider-content-place {
	max-width: 15%;
	width: 100%;
}
.slider-content-top > div.slider-content-temp {
	max-width: 18%;
	width: 100%;
}
.slider-content-top > div.slider-content-text {
	max-width: 32%;
	width: 100%;
}
.slider-content-top > div.slider-social-nav {
	padding-right: 0;
	border-left: none;
	margin-left: auto;
	max-width: 24%;
	width: 100%;
	text-align: right;
}
.slider-content-bottom {
	padding: 8px;
	border-top: 1px solid rgba(255,255,255,0.25);
}
.slider-content-bottom a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: normal;
}

.tn-webcam-slider-middle {
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: relative;
}
.tn-webcam-slider-middle .slick-slider {
	height: 100%;
	overflow: hidden;
}
.tn-webcam-slider-middle > .slick-slider.thumbnail-slider {
	height: auto;
	position: absolute;
	bottom: 250px;
	max-width: 400px;
	right: 43px;
	width: 100%;
	display: none;
}

.tn-webcam-slider-middle > .slick-slider.thumbnail-slider .slick-slide {
	padding: 10px;
}
.tn-webcam-slider-middle > .slick-slider.thumbnail-slider .slick-slide img {
	width: 100%;
	height: 103px;
	border: 2px solid rgba(0,0,0,0.35);
	object-fit: cover;
}
.tn-webcam-slider-middle > .slick-slider:first-child .image-gallery-content .image-gallery-slide .image-gallery-image {
	max-height: 1080px;
	object-fit: cover;
	min-width: 100%;
	min-height: 1080px;
	pointer-events: none;
}


.tn-webcam-slider-middle > .slick-slider .slide-bottom-content {
	display: flex;
	flex-wrap: wrap;
	padding: 0 43px;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	top: auto;
	height: auto;
}
.slide-bottom-content::before {
	content: "";
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.40) 20%,rgba(0, 0, 0, 0.80) 50%);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.tn-webcam-slider-middle > .slick-slider .slide-bottom-content .slide-play-control {
	display: flex;
	width: 100%;
	height: auto;
	padding: 30px 0 10px;
	align-items: center;
}

.tn-webcam-slider-middle > .slick-slider .slide-bottom-content .slide-play-control button {
	margin: 0 35px 0 0;
	position: static;
	width: 100%;
	max-width: 48px;
	padding: 0;
}
.image-gallery-icon:hover {
	color: #fff;
}
.image-gallery-fullscreen-button {
	right: 0;
	bottom: auto;
	top: 0;
	padding: 40px;
}
.tn-webcam-slider-middle > .slick-slider .slide-bottom-content .slide-play-control button .image-gallery-svg {
	width: 48px;
	height: 48px;
	fill: #fff;
}
.image-gallery-using-mouse .image-gallery-icon:focus {
	outline: none;
}
.slide-play-control input[type="range"] {
	width: 100%;
	margin: 0;
	position: relative;
	z-index: 1;
}

.TnWebcamSliderBottom-btn {
	font-size: 0;
	display: block;
	background: transparent;
	position: relative;
	z-index: 1;
	width: 110px;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-bottom: 30px solid rgba(255,255,255,0.78);
	margin: 0 auto;
	cursor: pointer;
	transition: 0.5s all ease;
	transform: scaleY(1);
}

.TnWebcamSliderBottom {
	display: none;
}

  .image-gallery-slide {
	opacity: 0 !important;
	transition: opacity 3s ease,z-index 3s ease !important;
	transform: none !important;
	display: block !important;
	z-index: -1 !important;
	-webkit-transition: opacity 3s ease,z-index 3s ease !important;
	-moz-transition: opacity 3s ease,z-index 3s ease !important;
	-ms-transition: opacity 3s ease,z-index 3s ease !important;
	-o-transition: opacity 3s ease,z-index 3s ease !important;
}
.image-gallery-slide.center {
	opacity: 1 !important;
 	z-index: 1 !important;
}
.image-gallery-slide.left {
	opacity: 1 !important;
 	z-index: 0 !important;
}

.main-range-wrap {
	position: relative;
	width: 100%;
}
.current-range-time {
	position: absolute;
	background: #fff;
	top: -27px;
	left: calc(0% - 25px);
	height: auto !important;
	margin: 0;
	display: inline-block;
	line-height: 20px;
	z-index: 1;
	padding: 0 2px;
	border-radius: 2px;
	width: 70px;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}
.current-range-time::before {
	content: "";
	border-top: 8px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
}
.camera-interval-control {
	position: absolute;
	bottom: 120px;
	z-index: 9;
	left: 43px;
}
.tn-webcam-main.show-content .camera-interval-control {
	bottom: 260px;
}
.camera-interval-control select, .camera-interval-control .react-datepicker-wrapper input {
	background: #fff;
	font-size: 12px;
	padding: 4px 10px;
	border-radius: 2px;
	letter-spacing: 0.5px;
	margin: 2px 0;
	outline: none;
	border: 1px solid rgba(0,0,0,0.5);
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
	line-height: normal;
}
.tn-webcam-main.show-content .TnWebcamSliderBottom,
.tn-webcam-main.show-content .slick-slider.thumbnail-slider {
	display: block;
}
.tn-webcam-main.show-content .TnWebcamSliderBottom-btn {
	border-top: 30px solid rgba(255,255,255,0.78);
	border-bottom: 0;
}


@media only screen and (max-width: 1920px) {
	.slider-content-bottom a {
		font-size: 12px;
	}
	.slider-content-top > div {
		padding: 0 25px;
	}
	.slider-content-top > div span,
	.tn-webcam-live-txt {
		font-size: 16px;
		line-height: 24px;
	}
	.slider-social-nav a {
		width: 38px;
		height: 38px;
	}
	.tn-webcam-logo, .tn-webcam-logo img {
		max-width: 150px;
		max-height: 30px;
	}
	.tn-webcam-live {
		margin-right: 60px;
	}
	.tn-webcam-live-dot {
		height: 10px;
		width: 10px;
	}
	.tn-webcam-slider {
		max-height: 700px;
	}
	.tn-webcam-slider-middle > .slick-slider:first-child .image-gallery-content .image-gallery-slide .image-gallery-image {
		max-height: 700px;
		min-height: 700px;
	}
	.slider-content > div {
		padding: 15px 0;
	}
	.tn-webcam-slider-top {
		padding: 20px;
	}
	.tn-webcam-slider-middle > .slick-slider .slide-bottom-content .slide-play-control button {
		max-width: 25px;
		margin: 0 15px 0 0;
	}
	.tn-webcam-slider-middle > .slick-slider .slide-bottom-content .slide-play-control button .image-gallery-svg {
		width: 25px;
		height: 25px;
	}
	.TnWebcamSliderBottom-btn {
		width: 80px;
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-bottom: 20px solid rgba(255,255,255,0.78);
	}
	
	.tn-webcam-slider-middle > .slick-slider.thumbnail-slider {
		max-width: 250px;
	}
	.tn-webcam-slider-middle > .slick-slider.thumbnail-slider .slick-slide img {
		height: 70px;
	}
	.tn-webcam-slider-middle > .slick-slider.thumbnail-slider {
		bottom: 200px;
	}
	.tn-webcam-main .camera-interval-control {
		bottom: 100px;
		left: 20px;
	}
	.tn-webcam-main.show-content .camera-interval-control {
		bottom: 220px;
	}
	.tn-webcam-main.show-content .TnWebcamSliderBottom-btn {
		border-top: 20px solid rgba(255,255,255,0.78);
	}
	.image-gallery-fullscreen-button {
		padding: 18px 20px;
	}
	.tn-webcam-slider-middle > .slick-slider .slide-bottom-content {
		padding: 0 20px;
	}
}
@media only screen and (max-width: 1200px) {
	.slider-content-top > div {
		padding: 0 15px;
	}
	.slider-content > div {
		padding: 10px 0;
	}
	.slider-content-top > div span {
		font-size: 14px;
		line-height: 18px;
	}
	.slider-content-temp-lt img {
		width: 35px;
	}
	.slider-social-nav a {
		width: 30px;
		height: 30px;
		padding: 5px;
	}
}
@media only screen and (max-width: 1024px) {
	/* .tn-webcam-slider-middle > .slick-slider .slide-bottom-content {
		position: static;
	} */
	.slider-content .slider-content-top > div {
		border: none;
		background: rgba(255,255,255,0.20);
		padding: 5px 10px;
		margin: 5px;
		border-radius: 4px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.slider-content-top > div.slider-content-date,
	.slider-content-top > div.slider-content-place {
		max-width: calc(25% - 10px);
	}
	.slider-content-top > div.slider-content-temp,
	.slider-content-top > div.slider-social-nav {
		max-width: calc(50% - 10px);
	}
	.slider-content-top > div.slider-content-text {
		max-width: calc(100% - 130px);
	}
	.slider-content-top > div.slider-social-nav {
		background: transparent;
		padding: 0;
		margin-left: auto;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		width: 110px;
		max-width: none;
	}
	.slider-content-temp-lt {
		max-width: 35px;
	}

	.tn-webcam-slider-middle > .slick-slider:first-child .image-gallery-content .image-gallery-slide .image-gallery-image {
		max-height: 600px;
		min-height: 600px;
	}
	.tn-webcam-slider-middle > .slick-slider .slide-bottom-content {
		position: relative;
		background: black;
	}
	.slide-bottom-content::before {
		display: none;
	}
	.tn-webcam-slider-middle > .slick-slider.thumbnail-slider {
		bottom: auto;
		top: 500px;
		right: 10px;
	}
	.tn-webcam-main.show-content .camera-interval-control {
		bottom: auto;
		top: 500px;
	}
}
@media only screen and (max-width: 767px) {
	.tn-webcam-slider-middle > .slick-slider .slide-bottom-content {
		padding: 0 10px;
	}
	.slider-content-top > div span {
		font-size: 12px;
		line-height: 14px;
	}
	.slider-content-top > div.slider-content-date, 
	.slider-content-top > div.slider-content-place {
		max-width: calc(50% - 10px);
	}
	.slider-content-top > div.slider-content-temp, .slider-content-top > div.slider-social-nav {
		max-width: calc(100% - 10px);
	}
	.slider-content-top > div.slider-content-text {
		max-width: 100%;
	}
	.slider-content-bottom a {
		font-size: 10px;
	}
	.tn-webcam-slider-middle > .slick-slider.thumbnail-slider {
		max-width: 140px;
	}
	.tn-webcam-slider-middle > .slick-slider.thumbnail-slider .slick-slide {
		padding: 2px;
	}
	.tn-webcam-slider-middle > .slick-slider.thumbnail-slider .slick-slide img {
		height: 45px;
		border: 1px solid rgba(0,0,0,0.35);
	}
	.tn-webcam-main.show-content .camera-interval-control {
		top: 380px;
		left: 10px;
		transform: scale(0.8);
		transform-origin: left bottom;
	}
	.tn-webcam-slider-middle > .slick-slider:first-child .image-gallery-content .image-gallery-slide .image-gallery-image {
		max-height: 450px;
		min-height: 450px;
	}
	.tn-webcam-slider-middle > .slick-slider.thumbnail-slider {
		bottom: auto;
		top: 395px;
		right: 5px;
	}
	.TnWebcamSliderBottom-btn {
		width: 50px;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-bottom: 20px solid rgba(255,255,255,0.78);
	}
	.tn-webcam-slider-top {
		padding: 10px;
	}
	.tn-webcam-slider-top::before {
		background: linear-gradient(to bottom, rgba(0,0,0,1) 80%,rgba(0,0,0,0.48) 85%,rgba(255,255,255,0.01) 90%,rgba(255,255,255,0) 100%);
	}
	.slider-content-top > div span, 
	.tn-webcam-live-txt {
		font-size: 12px;
		line-height: 14px;
	}
	.tn-webcam-live {
		margin-right: 30px;
	}
	.tn-webcam-slider-top-rt {
		margin-top: 5px;
	}
	.tn-webcam-live-dot {
		height: 6px;
		width: 6px;
		margin-right: 5px;
	}
	.tn-webcam-logo, .tn-webcam-logo img {
		max-width: 130px;
	}
	.image-gallery-fullscreen-button {
		padding: 12px 10px;
	}
}